
/*@import url('https://fonts.google.com/?selection.family=Montserrat&query=Monts');*/

body {
    background-image: url("http://1.bp.blogspot.com/-0GcfIxutXX0/UNmmz79WkEI/AAAAAAAAAL0/cuILWV5Tz0Q/s1600/Maserati+Granturismo+Wallpaper+HD+Cars.jpg");
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}